* {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 10px;
	background-color: #d6dee6;
}

#regexPattern {
	width: 98%;
	min-width: 98%;
	max-width: 98%;
	margin-left: 1%;
	height: 36px;
	line-height: 18px;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	background-color: #FFFFFF;
}

#optionReplace {
	margin-left: 1%;
}

#regexReplace {
	width: 98%;
	min-width: 98%;
	max-width: 98%;
	margin-left: 1%;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
}

#regexInput {
	width: 98%;
	min-width: 98%;
	max-width: 98%;
	margin-left: 1%;
	min-height: 300px;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
}

#regexOutput {
	width: 98%;
	min-width: 98%;
	max-width: 98%;
	margin-left: 1%;
	min-height: 150px;
	background-color: #e6e6e6;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
}
